<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>List User</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="User_Form">
                <form method="post" action="/user/create-user">
                    <div class="pt-3">
                        <h3>
                            Create New User
                        </h3>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="col-6"></div>
                    <div class="mb-3 col-6">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6 pb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div id="User_Table">
                <div class="pt-5">
                    <h3>
                        List User
                    </h3>
                </div>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((item,index)=> { %>
                            <tr>
                                <th scope="row">
                                    <%= item.id %>
                                </th>
                                <td>
                                    <%= item.username %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <a href="/update-user/<%= item.id %>" style="display: inline;">
                                        <button type="submit" class="btn btn-warning">Edit</button>
                                    </a>
                                    <form method="post" action="/delete-user/<%= item.id %>" style="display: inline;">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>